// COLOR
// Establish the color palette.
// -----------------------------------------------------------------------------

// Primary

// Provide a standard primary color.
$color-primary-regular: #0056d6;
// Provide a set of light primary colors.
$color-primary-light-1: #ebf3ff;
$color-primary-light-2: #d6e7ff;
$color-primary-light-3: #c2daff;
$color-primary-light-4: #adceff;
// Provide a set of dark primary colors.
$color-primary-dark-1: #0046ad;
$color-primary-dark-2: #003d99;

// Negative

// Provide a standard negative color.
$color-negative-regular: #ad0c00;
// Provide a set of light negative colors.
$color-negative-light-1: #ffeceb;
$color-negative-light-2: #ffd9d6;
$color-negative-light-3: #ffc6c2;
$color-negative-light-4: #ffb3ad;
// Provide a set of dark negative colors.
$color-negative-dark-1: #840900;
$color-negative-dark-2: #700800;

// Gray

// Provide a standard gray color.
$color-gray-regular: #2e2e2e;
// Provide a set of light gray colors.
$color-gray-light-1: #f5f5f5;
$color-gray-light-2: #ebebeb;
$color-gray-light-3: #e0e0e0;
$color-gray-light-4: #d6d6d6;
$color-gray-light-5: #ccc;
// Provide a set of dark gray colors.
$color-gray-dark-1: #1a1a1a;
$color-gray-dark-2: #0f0f0f;

// White

// Provide a standard white color.
$color-white-regular: #fff;
// Provide a set of transparent white colors.
$color-white-transparent-1: rgba(255, 255, 255, 0.84);
$color-white-transparent-2: rgba(255, 255, 255, 0.76);
$color-white-transparent-3: rgba(255, 255, 255, 0.32);
$color-white-transparent-4: rgba(255, 255, 255, 0.24);
$color-white-transparent-5: rgba(255, 255, 255, 0.16);
