// COLOR
// Establish the color palette.
// -----------------------------------------------------------------------------

// Primary

// Provide a standard primary color.
$color-primary-regular: #0056d6;
// Provide a set of light primary colors.
$color-primary-light-a: #ebf3ff;
$color-primary-light-b: #d6e7ff;
$color-primary-light-c: #c2daff;
$color-primary-light-d: #adceff;
// Provide a set of dark primary colors.
$color-primary-dark-a: #0046ad;
$color-primary-dark-b: #003d99;

// Negative

// Provide a standard negative color.
$color-negative-regular: #ad0c00;
// Provide a set of light negative colors.
$color-negative-light-a: #ffeceb;
$color-negative-light-b: #ffd9d6;
$color-negative-light-c: #ffc6c2;
$color-negative-light-d: #ffb3ad;
// Provide a set of dark negative colors.
$color-negative-dark-a: #840900;
$color-negative-dark-b: #700800;

// Gray

// Provide a standard gray color.
$color-gray-regular: #2e2e2e;
// Provide a set of light gray colors.
$color-gray-light-a: #f5f5f5;
$color-gray-light-b: #ebebeb;
$color-gray-light-c: #e0e0e0;
$color-gray-light-d: #d6d6d6;
$color-gray-light-e: #cccccc;
// Provide a set of dark gray colors.
$color-gray-dark-a: #1a1a1a;
$color-gray-dark-b: #0f0f0f;

// White

// Provide a standard white color.
$color-white-regular: #fff;
// Provide a set of transparent white colors.
$color-white-transparent-a: rgba(255, 255, 255, 0.84);
$color-white-transparent-b: rgba(255, 255, 255, 0.76);
$color-white-transparent-c: rgba(255, 255, 255, 0.32);
$color-white-transparent-d: rgba(255, 255, 255, 0.24);
$color-white-transparent-e: rgba(255, 255, 255, 0.16);
