// LAYOUT
// Establish generic structural characteristics.
// -----------------------------------------------------------------------------

// Content

// Set the maximum width for high-level content units.
$content-max-width: 1240px;

// Grid columns

// Set the number of grid columns.
$grid-columns: 6;

// Grid gap

// Set the grid gap size.
$grid-gap: 1.25rem;
