// SPACING
// Establish generic spacing values.
// -----------------------------------------------------------------------------

// Space

// Provide a standard space value.
$space-regular: 1rem;
// Provide larger than standard space values.
$space-large-a: 4 * $space-regular;
$space-large-b: 3 * $space-regular;
$space-large-c: 2 * $space-regular;
$space-large-d: 1.5 * $space-regular;
$space-large-e: 1.25 * $space-regular;
// Provide smaller than standard space values.
$space-small-a: 0.75 * $space-regular;
$space-small-b: 0.625 * $space-regular;
$space-small-c: 0.5 * $space-regular;
$space-small-d: 0.375 * $space-regular;
$space-small-e: 0.25 * $space-regular;
