// TYPOGRAPHY
// Define basic type attributes.
// -----------------------------------------------------------------------------

// Font family

// Provide a standard font stack.
$font-family-regular:
// Use a default system font.
-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
// Use a prevalent system font if none of the previous are available.
"Helvetica Neue", Arial, sans-serif,
// Use a special font for emojis and other symbols.
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// Provide a monospace font stack.
$font-family-mono:
// Use a default monospace system font.
SFMono-Regular, Menlo, Consolas,
// Use a prevalent monospace system font if none of the previous are available.
"Liberation Mono", monospace;

// Font size

// Set the root font size as a percentage of the browser default, which is
// usually 16px, so that users can specify some other default font size without
// it being overridden.
$root-font-size: 100%;
// Provide a standard font size.
$font-size-regular: 1rem;
// Provide larger than standard font sizes.
$font-size-large-1: 3 * $font-size-regular;
$font-size-large-2: 2 * $font-size-regular;
$font-size-large-3: 1.5 * $font-size-regular;
$font-size-large-4: 1.3125 * $font-size-regular;
$font-size-large-5: 1.125 * $font-size-regular;

// Line height

// Provide a standard line height.
$line-height-regular: 1.5;
// Provide smaller than standard line heights.
$line-height-small-1: 1.33333333;
$line-height-small-2: 1.25;
$line-height-small-3: 1.16666666;