// COLOR
// Specify palette colors.
// -----------------------------------------------------------------------------

// Primary

// Establish a standard primary color.
$color-primary-regular: hsl(220, 100%, 40%);
// Provide a set of light primary colors.
$color-primary-light-1: hsl(220, 100%, 96%);
$color-primary-light-2: hsl(220, 100%, 92%);
$color-primary-light-3: hsl(220, 100%, 88%);
$color-primary-light-4: hsl(220, 100%, 84%);
// Provide a set of dark primary colors.
$color-primary-dark-1: hsl(220, 100%, 36%);
$color-primary-dark-2: hsl(220, 100%, 32%);
$color-primary-dark-3: hsl(220, 100%, 28%);

// Negative

// Establish a standard negative color.
$color-negative-regular: hsl(4, 100%, 36%);
// Provide a set of light negative colors.
$color-negative-light-1: hsl(4, 100%, 96%);
$color-negative-light-2: hsl(4, 100%, 92%);
$color-negative-light-3: hsl(4, 100%, 88%);
$color-negative-light-4: hsl(4, 100%, 84%);
// Provide a set of dark negative colors.
$color-negative-dark-1: hsl(4, 100%, 32%);
$color-negative-dark-2: hsl(4, 100%, 28%);
$color-negative-dark-3: hsl(4, 100%, 24%);

// Gray

// Establish a standard gray color.
$color-gray-regular: hsl(0, 0%, 20%);
// Provide a set of light gray colors.
$color-gray-light-1: hsl(0, 0%, 96%);
$color-gray-light-2: hsl(0, 0%, 92%);
$color-gray-light-3: hsl(0, 0%, 88%);
$color-gray-light-4: hsl(0, 0%, 84%);
// Provide a medium gray color.
$color-gray-medium-1: hsl(0, 0%, 60%);
// Provide a set of dark gray colors.
$color-gray-dark-1: hsl(0, 0%, 16%);
$color-gray-dark-2: hsl(0, 0%, 12%);
$color-gray-dark-3: hsl(0, 0%, 8%);

// White

// Establish a standard white color.
$color-white-regular: hsl(0, 0%, 100%);
