// DECORATION
// Define common cosmetic enhancements.
// -----------------------------------------------------------------------------

// Opacity

// Provide a medium opacity value.
$opacity-medium: 0.5;

// Border width

// Provide a standard border width.
$border-width-regular: 1px;
// Provide a set of thick border widths.
$border-width-thick-1: 4px;
$border-width-thick-2: 2px;

// Border radius

// Provide a standard border radius.
$border-radius-regular: 4px;
// Provide a border radius that produces fully rounded corners.
$border-radius-full: 720px;

// Box shadow

// Provide a standard box shadow.
$box-shadow-regular: 0 0 0 3px;
