// LAYOUT
// Designate structural characteristics.
// -----------------------------------------------------------------------------

// Content

// Set the maximum width of high-level content units.
$content-max-width: 1240px;

// Grid columns

// Set the number of grid columns for each breakpoint.
$grid-columns: (
  all: 2,
  m: 6,
  l: 12
);

// Grid gap

// Set the grid gap size for each breakpoint.
$grid-gaps: (
  all: 1.25rem,
  m: 2.5rem
);
