// LAYOUT
// Designate generic structural characteristics.
// -----------------------------------------------------------------------------

// Content

// Set the maximum width of high-level content units.
$content-max-width: 1240px;

// Grid

// Establish a standard grid. Set the number of columns and gap size starting
// with the default values and going through each breakpoint established via
// viewport settings. Mind that the default values are intended for small
// screens although the classes they help generate will work across all viewport
// sizes.
$grid-regular: (
  default: (2, 1.25rem),
  tablet: (6, 1.25rem),
  laptop: (12, 2.5rem)
);
