// VIEWPORT
// Identify screen features that mark a change in the way content is presented.
// -----------------------------------------------------------------------------

// Width

// Set the viewport widths that signal style adjustments.
$viewport-widths: (
  m: "720px",
  l: "1080px"
);
