// VIEWPORT
// Identify viewport features that mark a change in the way content is
// presented.
// -----------------------------------------------------------------------------

// Breakpoints

// Set the viewport widths that signal style adjustments.
$breakpoints: (
  medium: "720px",
  large: "1080px"
);
