// SPACING
// Establish generic spacing values.
// -----------------------------------------------------------------------------

// Space

// Provide a standard space value.
$space-regular: 1rem;
// Provide larger than standard space values.
$space-large-1: 4 * $space-regular;
$space-large-2: 3 * $space-regular;
$space-large-3: 2 * $space-regular;
$space-large-4: 1.5 * $space-regular;
$space-large-5: 1.25 * $space-regular;
// Provide smaller than standard space values.
$space-small-1: 0.75 * $space-regular;
$space-small-2: 0.625 * $space-regular;
$space-small-3: 0.5 * $space-regular;
$space-small-4: 0.375 * $space-regular;
$space-small-5: 0.25 * $space-regular;
