// BUTTON
// Perform specific actions.
// -----------------------------------------------------------------------------

.c-button {
  display: inline-block;
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: calc(#{$space-small-2} - #{$border-width-regular}) calc(#{$space-regular} - #{$border-width-regular});
  // Use a transparent border so variants can define a visible one more easily.
  border: $border-width-regular solid transparent;
  border-radius: $border-radius-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  text-align: center;
  // Prevent text wrapping, usually in a flex context.
  white-space: nowrap;
  color: $color-gray-regular;
  background-color: $color-gray-light-2;

  &:hover {
    background-color: $color-gray-light-4;
  }

  &:focus {
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: $box-shadow-regular $color-gray-light-6;
  }

  &:active {
    background-color: $color-gray-light-5;
  }

  &:disabled,
  &.is-disabled {
    opacity: $opacity-medium;
    background-color: $color-gray-light-2;
    // Remove box shadow across all variants.
    box-shadow: none !important;
    cursor: not-allowed;
  }
}

// Primary button

.c-button--primary {
  color: $color-white-regular;
  background-color: $color-primary-regular;

  &:hover {
    background-color: $color-primary-dark-1;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-primary-light-4;
  }

  &:active {
    background-color: $color-primary-dark-2;
  }

  &:disabled,
  &.is-disabled {
    background-color: $color-primary-regular;
  }
}

// Lean primary button

.c-button--primary-lean {
  border-color: $color-primary-regular;
  color: $color-primary-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-primary-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-primary-light-4;
  }

  &:active {
    background-color: $color-primary-light-3;
  }

  &:disabled,
  &.is-disabled {
    background-color: transparent;
  }
}

// Plain primary button

.c-button--primary-plain {
  color: $color-primary-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-primary-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-primary-light-4;
  }

  &:active {
    background-color: $color-primary-light-3;
  }

  &:disabled,
  &.is-disabled {
    background-color: transparent;
  }
}

// Negative button

.c-button--negative {
  color: $color-white-regular;
  background-color: $color-negative-regular;

  &:hover {
    background-color: $color-negative-dark-1;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-negative-light-4;
  }

  &:active {
    background-color: $color-negative-dark-2;
  }

  &:disabled,
  &.is-disabled {
    background-color: $color-negative-regular;
  }
}

// Lean negative button

.c-button--negative-lean {
  border-color: $color-negative-regular;
  color: $color-negative-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-negative-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-negative-light-4;
  }

  &:active {
    background-color: $color-negative-light-3;
  }

  &:disabled,
  &.is-disabled {
    background-color: transparent;
  }
}

// Plain negative button

.c-button--negative-plain {
  color: $color-negative-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-negative-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-negative-light-4;
  }

  &:active {
    background-color: $color-negative-light-3;
  }

  &:disabled,
  &.is-disabled {
    background-color: transparent;
  }
}

// Neutral button

.c-button--neutral {
  color: $color-white-regular;
  background-color: $color-gray-regular;

  &:hover {
    background-color: $color-gray-dark-1;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-gray-light-5;
  }

  &:active {
    background-color: $color-gray-dark-2;
  }

  &:disabled,
  &.is-disabled {
    background-color: $color-gray-regular;
  }
}

// Lean neutral button

.c-button--neutral-lean {
  border-color: $color-gray-regular;
  color: $color-gray-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-gray-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-gray-light-5;
  }

  &:active {
    background-color: $color-gray-light-3;
  }

  &:disabled,
  &.is-disabled {
    background-color: transparent;
  }
}

// Plain neutral button

.c-button--neutral-plain {
  color: $color-gray-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-gray-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-gray-light-5;
  }

  &:active {
    background-color: $color-gray-light-3;
  }

  &:disabled,
  &.is-disabled {
    background-color: transparent;
  }
}

// Inverse button

.c-button--inverse {
  color: $color-gray-regular;
  background-color: $color-white-regular;

  &:hover {
    background-color: $color-white-transparent-1;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-white-transparent-3;
  }

  &:active {
    background-color: $color-white-transparent-2;
  }

  &:disabled,
  &.is-disabled {
    background-color: $color-white-regular;
  }
}

// Lean inverse button

.c-button--inverse-lean {
  border-color: $color-white-regular;
  color: $color-white-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-white-transparent-5;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-white-transparent-3;
  }

  &:active {
    background-color: $color-white-transparent-4;
  }

  &:disabled,
  &.is-disabled {
    background-color: transparent;
  }
}

// Plain inverse button

.c-button--inverse-plain {
  color: $color-white-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-white-transparent-5;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-white-transparent-3;
  }

  &:active {
    background-color: $color-white-transparent-4;
  }

  &:disabled,
  &.is-disabled {
    background-color: transparent;
  }
}

// Small button

.c-button--small {
  padding: calc(#{$space-small-4} - #{$border-width-regular}) calc(#{$space-small-1} - #{$border-width-regular});
}

// Large button

.c-button--large {
  padding: calc(#{$space-small-1} - #{$border-width-regular}) calc(#{$space-large-5} - #{$border-width-regular});
  font-size: $font-size-large-4;
  line-height: $line-height-small-1;
}
