// BUTTON
// Perform specific actions.
// -----------------------------------------------------------------------------

.c-button {
  display: inline-block;
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: calc(#{$space-small-2} - #{$border-width-regular}) calc(#{$space-regular} - #{$border-width-regular});
  // Use a transparent border so a visible one can be defined more easily.
  border: $border-width-regular solid transparent;
  border-radius: $border-radius-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  text-align: center;
  // Prevent text wrapping, usually in a flex context.
  white-space: nowrap;
  color: $color-neutral-regular;
  background-color: $color-neutral-light-2;

  &:hover {
    background-color: $color-neutral-light-4;
  }

  &:focus {
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: $box-shadow-regular $color-neutral-light-6;
  }

  &:active {
    background-color: $color-neutral-light-5;
  }

  &:disabled,
  &.is-disabled {
    opacity: $opacity-low;
    background-color: $color-neutral-light-2;
    box-shadow: none;
    cursor: default;
  }
}

// Primary buttons

.c-button--primary {
  color: $color-white-regular;
  background-color: $color-primary-regular;

  &:hover {
    background-color: $color-primary-dark-1;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-primary-light-4;
  }

  &:active {
    background-color: $color-primary-dark-2;
  }
}

.c-button--primary-outlined {
  border-color: $color-primary-regular;
  color: $color-primary-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-primary-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-primary-light-4;
  }

  &:active {
    background-color: $color-primary-light-3;
  }
}

.c-button--primary-plain {
  color: $color-primary-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-primary-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-primary-light-4;
  }

  &:active {
    background-color: $color-primary-light-3;
  }
}

// Negative buttons

.c-button--negative {
  color: $color-white-regular;
  background-color: $color-negative-regular;

  &:hover {
    background-color: $color-negative-dark-1;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-negative-light-4;
  }

  &:active {
    background-color: $color-negative-dark-2;
  }
}

.c-button--negative-outlined {
  border-color: $color-negative-regular;
  color: $color-negative-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-negative-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-negative-light-4;
  }

  &:active {
    background-color: $color-negative-light-3;
  }
}

.c-button--negative-plain {
  color: $color-negative-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-negative-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-negative-light-4;
  }

  &:active {
    background-color: $color-negative-light-3;
  }
}

// Neutral buttons

.c-button--neutral {
  color: $color-white-regular;
  background-color: $color-neutral-regular;

  &:hover {
    background-color: $color-neutral-dark-1;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-neutral-light-5;
  }

  &:active {
    background-color: $color-neutral-dark-2;
  }
}

.c-button--neutral-outlined {
  border-color: $color-neutral-regular;
  color: $color-neutral-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-neutral-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-neutral-light-5;
  }

  &:active {
    background-color: $color-neutral-light-3;
  }
}

.c-button--neutral-plain {
  color: $color-neutral-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-neutral-light-2;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-neutral-light-5;
  }

  &:active {
    background-color: $color-neutral-light-3;
  }
}

// Inverse buttons

.c-button--inverse {
  color: $color-neutral-regular;
  background-color: $color-white-regular;

  &:hover {
    background-color: $color-white-transparent-1;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-white-transparent-3;
  }

  &:active {
    background-color: $color-white-transparent-2;
  }
}

.c-button--inverse-outlined {
  border-color: $color-white-regular;
  color: $color-white-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-white-transparent-5;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-white-transparent-3;
  }

  &:active {
    background-color: $color-white-transparent-4;
  }
}

.c-button--inverse-plain {
  color: $color-white-regular;
  background-color: transparent;

  &:hover {
    background-color: $color-white-transparent-5;
  }

  &:focus {
    box-shadow: $box-shadow-regular $color-white-transparent-3;
  }

  &:active {
    background-color: $color-white-transparent-4;
  }
}

// Disabled buttons
// Group all variant-specific disabled styles to avoid repetition.

.c-button--primary,
.c-button--negative,
.c-button--neutral {
  &:disabled,
  &.is-disabled {
    background-color: $color-neutral-regular;
    box-shadow: none;
  }
}

.c-button--inverse {
  &:disabled,
  &.is-disabled {
    background-color: $color-white-regular;
    box-shadow: none;
  }
}

.c-button--primary-outlined,
.c-button--negative-outlined,
.c-button--neutral-outlined {
  &:disabled,
  &.is-disabled {
    border-color: $color-neutral-regular;
    color: $color-neutral-regular;
    background-color: transparent;
    box-shadow: none;
  }
}

.c-button--inverse-outlined {
  &:disabled,
  &.is-disabled {
    border-color: $color-white-regular;
    color: $color-white-regular;
    background-color: transparent;
    box-shadow: none;
  }
}

.c-button--primary-plain,
.c-button--negative-plain,
.c-button--neutral-plain {
  &:disabled,
  &.is-disabled {
    color: $color-neutral-regular;
    background-color: transparent;
    box-shadow: none;
  }
}

.c-button--inverse-plain {
  &:disabled,
  &.is-disabled {
    color: $color-white-regular;
    background-color: transparent;
    box-shadow: none;
  }
}

// Button sizes

.c-button--small {
  padding: calc(#{$space-small-4} - #{$border-width-regular}) calc(#{$space-small-1} - #{$border-width-regular});
}

.c-button--large {
  padding: calc(#{$space-small-1} - #{$border-width-regular}) calc(#{$space-large-5} - #{$border-width-regular});
  font-size: $font-size-large-4;
  line-height: $line-height-small-1;
}
