// BUTTON
// Perform clearly defined actions.
// -----------------------------------------------------------------------------

.c-button {
  display: inline-block;
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: calc(#{$space-small-2} - #{var(--border-width-regular)})
    calc(#{$space-regular} - #{var(--border-width-regular)});
  // Use a transparent border so variants can define a visible one more easily.
  border: var(--border-width-regular) solid transparent;
  border-radius: var(--border-radius-regular);
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  text-align: center;
  // Prevent text wrapping, usually in a flex context.
  white-space: nowrap;
  color: var(--color-white-regular);
  background-color: var(--color-gray-regular);

  &:hover {
    background-color: var(--color-gray-dark-1);
  }

  &:focus {
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: var(--box-shadow-regular) var(--color-gray-light-4);
  }

  &:active {
    background-color: var(--color-gray-dark-2);
  }

  &:disabled,
  &.is-disabled {
    opacity: var(--opacity-medium);
    pointer-events: none;
  }
}

// Lean button

.c-button--lean {
  border-color: var(--color-gray-regular);
  color: var(--color-gray-regular);
  background-color: transparent;

  &:hover {
    background-color: var(--color-gray-light-2);
  }

  &:active {
    background-color: var(--color-gray-light-3);
  }
}

// Plain button

.c-button--plain {
  color: var(--color-gray-regular);
  background-color: transparent;

  &:hover {
    background-color: var(--color-gray-light-2);
  }

  &:active {
    background-color: var(--color-gray-light-3);
  }
}

// Primary button

.c-button--primary {
  background-color: var(--color-primary-regular);

  &:hover {
    background-color: var(--color-primary-dark-1);
  }

  &:focus {
    box-shadow: var(--box-shadow-regular) var(--color-primary-light-4);
  }

  &:active {
    background-color: var(--color-primary-dark-2);
  }
}

// Lean primary button

.c-button--primary-lean {
  border-color: var(--color-primary-regular);
  color: var(--color-primary-regular);
  background-color: transparent;

  &:hover {
    background-color: var(--color-primary-light-2);
  }

  &:focus {
    box-shadow: var(--box-shadow-regular) var(--color-primary-light-4);
  }

  &:active {
    background-color: var(--color-primary-light-3);
  }
}

// Plain primary button

.c-button--primary-plain {
  color: var(--color-primary-regular);
  background-color: transparent;

  &:hover {
    background-color: var(--color-primary-light-2);
  }

  &:focus {
    box-shadow: var(--box-shadow-regular) var(--color-primary-light-4);
  }

  &:active {
    background-color: var(--color-primary-light-3);
  }
}

// Negative button

.c-button--negative {
  background-color: var(--color-negative-regular);

  &:hover {
    background-color: var(--color-negative-dark-1);
  }

  &:focus {
    box-shadow: var(--box-shadow-regular) var(--color-negative-light-4);
  }

  &:active {
    background-color: var(--color-negative-dark-2);
  }
}

// Lean negative button

.c-button--negative-lean {
  border-color: var(--color-negative-regular);
  color: var(--color-negative-regular);
  background-color: transparent;

  &:hover {
    background-color: var(--color-negative-light-2);
  }

  &:focus {
    box-shadow: var(--box-shadow-regular) var(--color-negative-light-4);
  }

  &:active {
    background-color: var(--color-negative-light-3);
  }
}

// Plain negative button

.c-button--negative-plain {
  color: var(--color-negative-regular);
  background-color: transparent;

  &:hover {
    background-color: var(--color-negative-light-2);
  }

  &:focus {
    box-shadow: var(--box-shadow-regular) var(--color-negative-light-4);
  }

  &:active {
    background-color: var(--color-negative-light-3);
  }
}

// Inverse button

.c-button--inverse {
  color: var(--color-gray-regular);
  background-color: var(--color-white-regular);

  &:hover {
    background-color: var(--color-white-transparent-1);
  }

  &:focus {
    box-shadow: var(--box-shadow-regular) var(--color-white-transparent-3);
  }

  &:active {
    background-color: var(--color-white-transparent-2);
  }
}

// Lean inverse button

.c-button--inverse-lean {
  border-color: var(--color-white-regular);
  background-color: transparent;

  &:hover {
    background-color: var(--color-white-transparent-5);
  }

  &:focus {
    box-shadow: var(--box-shadow-regular) var(--color-white-transparent-3);
  }

  &:active {
    background-color: var(--color-white-transparent-4);
  }
}

// Plain inverse button

.c-button--inverse-plain {
  background-color: transparent;

  &:hover {
    background-color: var(--color-white-transparent-5);
  }

  &:focus {
    box-shadow: var(--box-shadow-regular) var(--color-white-transparent-3);
  }

  &:active {
    background-color: var(--color-white-transparent-4);
  }
}

// Small button

.c-button--small {
  padding: calc(#{$space-small-4} - #{var(--border-width-regular)})
    calc(#{$space-small-1} - #{var(--border-width-regular)});
}

// Large button

.c-button--large {
  padding: calc(#{$space-small-1} - #{var(--border-width-regular)})
    calc(#{$space-large-5} - #{var(--border-width-regular)});
  font-size: $font-size-large-4;
  line-height: $line-height-small-1;
}
