// CALLOUT
// Emphasize a text block.
// -----------------------------------------------------------------------------

.c-callout {
  margin-bottom: $space-large-4;
  font-size: $font-size-large-4;
  line-height: $line-height-small-1;
}
