// CARD
// Style card components.
// -----------------------------------------------------------------------------

.c-card {
  // Employ the `calc()` function to ensure precise alignment with items that
  // use the same space values but lack a border.
  padding: calc(#{$space-large-4} - #{$border-width-regular});
  border: $border-width-regular solid $color-neutral-light-1;
  border-radius: $border-radius-regular;
}

  .c-card__heading {
    margin-bottom: $space-regular;
    font-size: $font-size-large-3;
    line-height: $line-height-small-1;
  }