// CARD
// Group content and actions related to a single topic.
// -----------------------------------------------------------------------------

.c-card {
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: calc(#{$space-large-4} - #{var(--border-width-regular)});
  border: var(--border-width-regular) solid var(--color-gray-light-3);
  border-radius: var(--border-radius-regular);
  color: var(--color-gray-regular);
  background-color: var(--color-white-regular);

  p:last-child {
    margin-bottom: 0;
  }
}

.c-card__heading {
  margin-bottom: $space-large-4;
  font-size: $font-size-large-4;
  line-height: $line-height-small-1;
}

.c-card__cover {
  display: block;
  // Override established maximum width and match card width on `img` and
  // `video` elements.
  max-width: calc(100% + 2 * #{$space-large-4});
  margin-right: -$space-large-4;
  margin-bottom: $space-large-4;
  margin-left: -$space-large-4;
}

.c-card__cover--top {
  border-top-left-radius: var(--border-radius-regular);
  border-top-right-radius: var(--border-radius-regular);
  margin-top: -$space-large-4;
}

// Interactive card

.c-card--interactive {
  display: block;
  color: var(--color-gray-regular);

  &:focus {
    border-color: var(--color-gray-regular);
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: var(--box-shadow-regular) var(--color-gray-light-4);
  }
}
