// CHECKBOX
// Select one or more options from a predefined set.
// -----------------------------------------------------------------------------

.c-checkbox {
  width: 1.25rem;
  height: 1.25rem;
  border: $border-width-regular solid $color-gray-light-4;
  border-radius: $border-radius-regular;
  margin-right: $space-small-5;
  vertical-align: middle;
  // Allow complete styling in all browsers.
  -webkit-appearance: none;

  &:focus {
    border-color: $color-primary-regular;
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: $box-shadow-regular $color-primary-light-4;
  }

  &:checked {
    border-color: $color-primary-regular;
    background-color: $color-primary-regular;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.41421 6.58579L3 8L7.24264 12.2426L14.3137 5.17157L12.8995 3.75736L7.24264 9.41421L4.41421 6.58579Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:disabled {
    border-color: $color-gray-regular;
    background-color: $color-gray-regular;

    // Style `label` element adjacent to a disabled checkbox.
    & + label {
      opacity: $opacity-medium;
      cursor: not-allowed;
    }
  }
}
