// LINK
// Provide access to new content.
// -----------------------------------------------------------------------------

.c-link {
  text-decoration: underline;
  color: inherit;
}

// Primary link

.c-link--primary {
  color: $color-primary-regular;
}
