// LINK
// Reference new content in an accessible manner.
// -----------------------------------------------------------------------------

.c-link {
  color: inherit;
  text-decoration: underline;
}

// Primary link

.c-link--primary {
  color: $color-primary-regular;
}