// LIST
// Display a collection of related items.
// -----------------------------------------------------------------------------

.c-list {
  padding-left: 0;
  list-style: none;
}

  .c-list__item {
    padding-top: $space-small-4;
    padding-bottom: $space-small-4;
  }

// Horizontal list

.c-list--horizontal {
  display: flex;
  flex-wrap: wrap;
}

  .c-list--horizontal > .c-list__item:not(:last-child) {
    margin-right: $space-large-4;
  }
