// LIST
// Present related items in a continuous format.
// -----------------------------------------------------------------------------

.c-list {
  @include list-reset;
}

  .c-list__item {
    padding-top: $space-small-4;
    padding-bottom: $space-small-4;
  }

    .c-list__link {
      color: $color-gray-regular;

      &:hover {
        color: $color-primary-regular;
      }
    }

// Horizontal list

.c-list--horizontal {
  display: flex;
  flex-wrap: wrap;
}

  .c-list--horizontal > .c-list__item:not(:last-child) {
    margin-right: $space-large-4;
  }
