// LIST
// Order related items.
// -----------------------------------------------------------------------------

.c-list {
  padding-left: 0;
  list-style: none;
}

  .c-list__link {
    display: inline-block;
    padding-top: $space-small-4;
    padding-bottom: $space-small-4;
    color: $color-neutral-regular;

    &:hover {
      color: $color-primary-regular;
      text-decoration: none;
    }
  }

// Horizontal list

.c-list--horizontal {
  display: flex;
  flex-wrap: wrap;
}

  .c-list--horizontal > li {
    margin-right: $space-large-4;
  }
