// NOTICE
// Provide feedback or additional information.
// -----------------------------------------------------------------------------

.c-notice {
  padding: $space-regular $space-large-4;
  border-radius: $border-radius-regular;
  color: $color-gray-regular;
  background-color: $color-gray-light-1;
}

  .c-notice p:last-child {
    margin-bottom: 0;
  }

// Dismissible notice

.c-notice--dismissible {
  position: relative;
  padding-right: $space-large-2;
}

  // Remove last paragraph bottom margin using the `:last-of-type` selector
  // instead of `:last-child` because the dismiss button is placed last.
  .c-notice--dismissible p:last-of-type {
    margin-bottom: 0;
  }

  .c-notice__dismiss {
    position: absolute;
    top: 0;
    right: 0;
    padding: $space-small-3;
    border: 0;
    border-top-right-radius: $border-radius-regular;
    border-bottom-left-radius: $border-radius-regular;
    color: inherit;
    background-color: $color-gray-light-3;

    &:hover {
      color: $color-white-regular;
      background-color: $color-gray-dark-1;
    }

    &:focus {
      // Mind that the outline should be removed only if other styles that imply
      // focus are set.
      outline: 0;
      box-shadow: $box-shadow-regular $color-gray-light-5;
    }

    &:active {
      color: $color-white-regular;
      background-color: $color-gray-dark-2;
    }
  }

    .c-notice__dismiss-icon {
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      // Inherit text color on `svg` elements.
      fill: currentColor;
    }

// Primary notice

.c-notice--primary {
  color: $color-primary-regular;
  background-color: $color-primary-light-1;
}

  .c-notice--primary .c-notice__dismiss {
    background-color: $color-primary-light-3;

    &:hover {
      background-color: $color-primary-dark-1;
    }

    &:focus {
      box-shadow: $box-shadow-regular $color-primary-light-4;
    }

    &:active {
      background-color: $color-primary-dark-2;
    }
  }

// Negative notice

.c-notice--negative {
  color: $color-negative-regular;
  background-color: $color-negative-light-1;
}

  .c-notice--negative .c-notice__dismiss {
    background-color: $color-negative-light-3;

    &:hover {
      background-color: $color-negative-dark-1;
    }

    &:focus {
      box-shadow: $box-shadow-regular $color-negative-light-4;
    }

    &:active {
      background-color: $color-negative-dark-2;
    }
  }
