// NOTICE
// Provide feedback or additional information.
// -----------------------------------------------------------------------------

.c-notice {
  padding: $space-regular $space-large-4;
  border-radius: var(--border-radius-regular);
  color: var(--color-gray-regular);
  background-color: var(--color-gray-light-1);

  p:last-child {
    margin-bottom: 0;
  }
}

// Dismissible notice

.c-notice--dismissible {
  position: relative;
  padding-right: $space-large-2;

  // Remove last paragraph bottom margin using the `:last-of-type` selector
  // instead of `:last-child` because the dismiss button is placed last.
  p:last-of-type {
    margin-bottom: 0;
  }
}

.c-notice__dismiss {
  position: absolute;
  top: $space-regular;
  right: $space-regular;
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: calc(#{$space-small-4} - #{var(--border-width-regular)});
  border: var(--border-width-regular) solid var(--color-gray-regular);
  border-radius: var(--border-radius-regular);
  color: inherit;
  background-color: transparent;

  &:hover {
    border-color: var(--color-gray-dark-1);
    color: var(--color-white-regular);
    background-color: var(--color-gray-dark-1);
  }

  &:focus {
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: var(--box-shadow-regular) var(--color-gray-light-4);
  }

  &:active {
    border-color: var(--color-gray-dark-2);
    color: var(--color-white-regular);
    background-color: var(--color-gray-dark-2);
  }
}

.c-notice__dismiss-icon {
  display: block;
  // Inherit text color on `svg` elements.
  fill: currentColor;
}

// Primary notice

.c-notice--primary {
  color: var(--color-primary-regular);
  background-color: var(--color-primary-light-1);

  .c-notice__dismiss {
    border-color: var(--color-primary-regular);

    &:hover {
      border-color: var(--color-primary-dark-1);
      background-color: var(--color-primary-dark-1);
    }

    &:focus {
      box-shadow: var(--box-shadow-regular) var(--color-primary-light-4);
    }

    &:active {
      border-color: var(--color-primary-dark-2);
      background-color: var(--color-primary-dark-2);
    }
  }
}

// Negative notice

.c-notice--negative {
  color: var(--color-negative-regular);
  background-color: var(--color-negative-light-1);

  .c-notice__dismiss {
    border-color: var(--color-negative-regular);

    &:hover {
      border-color: var(--color-negative-dark-1);
      background-color: var(--color-negative-dark-1);
    }

    &:focus {
      box-shadow: var(--box-shadow-regular) var(--color-negative-light-4);
    }

    &:active {
      border-color: var(--color-negative-dark-2);
      background-color: var(--color-negative-dark-2);
    }
  }
}
