// NOTICE
// Provide feedback or additional information.
// -----------------------------------------------------------------------------

.c-notice {
  padding: $space-regular $space-large-4;
  border-radius: $border-radius-regular;
  color: $color-gray-regular;
  background-color: $color-gray-light-a;

  p:last-child {
    margin-bottom: 0;
  }
}

// Dismissible notice

.c-notice--dismissible {
  position: relative;
  padding-right: $space-large-2;

  // Remove last paragraph bottom margin using the `:last-of-type` selector
  // instead of `:last-child` because the dismiss button is placed last.
  p:last-of-type {
    margin-bottom: 0;
  }
}

.c-notice__dismiss {
  position: absolute;
  top: $space-regular;
  right: $space-regular;
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: calc(#{$space-small-4} - #{$border-width-regular});
  border: $border-width-regular solid $color-gray-regular;
  border-radius: $border-radius-regular;
  color: inherit;
  background-color: transparent;

  &:hover {
    border-color: $color-gray-dark-a;
    color: $color-white-regular;
    background-color: $color-gray-dark-a;
  }

  &:focus {
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: $box-shadow-regular $color-gray-light-d;
  }

  &:active {
    border-color: $color-gray-dark-b;
    color: $color-white-regular;
    background-color: $color-gray-dark-b;
  }
}

.c-notice__dismiss-icon {
  display: block;
  // Inherit text color on `svg` elements.
  fill: currentColor;
}

// Primary notice

.c-notice--primary {
  color: $color-primary-regular;
  background-color: $color-primary-light-a;

  .c-notice__dismiss {
    border-color: $color-primary-regular;

    &:hover {
      border-color: $color-primary-dark-a;
      background-color: $color-primary-dark-a;
    }

    &:focus {
      box-shadow: $box-shadow-regular $color-primary-light-d;
    }

    &:active {
      border-color: $color-primary-dark-b;
      background-color: $color-primary-dark-b;
    }
  }
}

// Negative notice

.c-notice--negative {
  color: $color-negative-regular;
  background-color: $color-negative-light-a;

  .c-notice__dismiss {
    border-color: $color-negative-regular;

    &:hover {
      border-color: $color-negative-dark-a;
      background-color: $color-negative-dark-a;
    }

    &:focus {
      box-shadow: $box-shadow-regular $color-negative-light-d;
    }

    &:active {
      border-color: $color-negative-dark-b;
      background-color: $color-negative-dark-b;
    }
  }
}
