// TABS
// Navigate between related sections of content.
// -----------------------------------------------------------------------------

.c-tabs {
  display: flex;
  padding-left: 0;
  border-bottom: var(--border-width-regular) solid var(--color-gray-light-3);
  margin-bottom: 0;
  list-style: none;
}

.c-tabs__link {
  display: inline-block;
  padding: var(--space-small-2) var(--space-regular);
  // Negate parent bottom border.
  margin-bottom: -#{var(--border-width-regular)};
  color: var(--color-gray-regular);

  &:hover {
    color: var(--color-primary-regular);
  }

  &.is-selected {
    padding-bottom: calc(
      #{var(--space-small-2)} - #{var(--border-width-thick-2)}
    );
    border-bottom: var(--border-width-thick-2) solid
      var(--color-primary-regular);
    color: var(--color-primary-regular);
  }
}
