// TAG
// Label or categorize items.
// -----------------------------------------------------------------------------

.c-tag {
  display: inline-block;
  padding: $space-small-4 $space-small-1;
  border-radius: $border-radius-full;
  color: $color-gray-regular;
  background-color: $color-gray-light-2;
}

// Interactive tag

.c-tag--interactive {
  &:hover {
    background-color: $color-gray-light-4;
  }

  &:active {
    background-color: $color-gray-light-5;
  }
}

// Primary tag

.c-tag--primary {
  color: $color-white-regular;
  background-color: $color-primary-regular;
}

.c-tag--primary-interactive {
  color: $color-white-regular;
  background-color: $color-primary-regular;

  &:hover {
    background-color: $color-primary-dark-1;
  }

  &:active {
    background-color: $color-primary-dark-2;
  }
}
