// TEXTFIELD
// Input and edit text.
// -----------------------------------------------------------------------------

.c-textfield {
  display: block;
  width: 100%;
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: calc(#{$space-small-2} - #{$border-width-regular})
    calc(#{$space-regular} - #{$border-width-regular});
  border: $border-width-regular solid $color-gray-light-5;
  border-radius: $border-radius-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  color: $color-gray-regular;
  background-color: $color-white-regular;

  &:focus {
    border-color: $color-primary-regular;
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: $box-shadow-regular $color-primary-light-4;
  }

  &.is-invalid {
    border-color: $color-negative-regular;

    &:focus {
      box-shadow: $box-shadow-regular $color-negative-light-4;
    }
  }
}

// Select textfield

.c-textfield--select {
  &:not([size]):not([multiple]) {
    // Match textfield height.
    height: 2.75rem;
  }
}
