// TEXTFIELD
// Input and edit text.
// -----------------------------------------------------------------------------

.c-textfield {
  display: block;
  width: 100%;
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: calc(#{var(--space-small-2)} - #{var(--border-width-regular)})
    calc(#{var(--space-regular)} - #{var(--border-width-regular)});
  border: var(--border-width-regular) solid var(--color-gray-light-5);
  border-radius: var(--border-radius-regular);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
  color: var(--color-gray-regular);
  background-color: var(--color-white-regular);

  &:focus {
    border-color: var(--color-primary-regular);
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: var(--box-shadow-regular) var(--color-primary-light-4);
  }

  &.is-invalid {
    border-color: var(--color-negative-regular);

    &:focus {
      box-shadow: var(--box-shadow-regular) var(--color-negative-light-4);
    }
  }
}

// Select textfield

.c-textfield--select {
  &:not([size]):not([multiple]) {
    // Match textfield height.
    height: 2.75rem;
  }
}
