// BUTTON
// Perform clearly defined actions.
// -----------------------------------------------------------------------------

.button {
  display: inline-block;
  padding: $space-small-2 $space-regular;
  border: 0;
  border-radius: $border-radius-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  text-align: center;
  color: $color-white-regular;
  background-color: $color-primary-regular;

  &:hover {
    background-color: $color-primary-dark-1;
  }

  &:focus {
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    // Mimic a border using an inset shadow. Remove it if a border is present
    // and style that instead.
    box-shadow: inset 0 0 0 1px $color-primary-regular,
                0 0 0 3px $color-primary-light-4;
  }

  &:active {
    background-color: $color-primary-dark-2;
  }

  &:disabled {
    color: $color-gray-medium;
    background-color: $color-gray-light-2;
  }

  // Plain

  &--plain {
    color: $color-primary-regular;
    background-color: transparent;

    &:hover {
      background-color: $color-primary-light-1;
    }

    &:active {
      background-color: $color-primary-light-2;
    }

    &:disabled {
      background-color: transparent;
    }
  }
}
