// CARD
// Group content and actions related to a single topic.
// -----------------------------------------------------------------------------

@use "../settings/color" as *;
@use "../settings/decoration" as *;
@use "../settings/spacing" as *;
@use "../settings/typography" as *;

.card {
  display: block;
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: calc(#{$space-large-5} - #{$border-width-regular});
  border: $border-width-regular solid $color-gray-light-3;
  border-radius: $border-radius-regular;
  color: $color-gray-regular;
  background-color: $color-white-regular;

  &__media {
    display: block;
    // Override maximum width established on `img` and `video` elements and
    // match card width.
    max-width: calc(100% + 2 * #{$space-large-5});
    margin-right: -$space-large-5;
    margin-bottom: $space-large-5;
    margin-left: -$space-large-5;

    &:first-child {
      border-top-left-radius: $border-radius-regular;
      border-top-right-radius: $border-radius-regular;
      margin-top: -$space-large-5;
    }
  }

  &__heading {
    margin-bottom: $space-large-5;
    font-size: $font-size-large-4;
    line-height: $line-height-small-1;
  }

  p:last-child {
    margin-bottom: 0;
  }

  // Interactive

  &--interactive {
    &:hover {
      background-color: $color-gray-light-1;
    }

    &:focus {
      // Mind that the outline should be removed only if other styles that imply
      // focus are set.
      outline: 0;
      background-color: $color-gray-light-2;
    }

    &:active {
      background-color: $color-gray-light-3;
    }
  }
}
