// LEAD
// Emphasize significant text fragments.
// -----------------------------------------------------------------------------

.c-lead {
  margin-bottom: $space-large-5;
  font-size: $font-size-large-3;
  line-height: $line-height-small-1;
}
