// LINK
// Provide access to new content.
// -----------------------------------------------------------------------------

.c-link {
  // Distance bottom border from descenders.
  padding-bottom: 0.0625em;
  border-bottom: $border-width-regular solid currentColor;
  color: inherit;

  &:hover,
  &:focus {
    border-width: $border-width-thick-2;
  }

  // Primary

  &--primary {
    color: $color-primary-regular;
  }
}
