// LINK
// Provide access to new content.
// -----------------------------------------------------------------------------

.c-link {
  text-decoration: underline;
  color: inherit;

  // Primary

  &--primary {
    color: $color-primary-regular;
  }
}
