// LINK
// Provide access to new content.
// -----------------------------------------------------------------------------

.c-link {
  // Distance bottom border from descenders.
  padding-bottom: 0.0625em;
  border-bottom: $border-width-regular solid $color-gray-regular;
  color: $color-gray-regular;

  &:hover,
  &:focus {
    border-width: $border-width-thick-2;
  }

  // Plain

  &--plain {
    border-width: 0;

    &:hover,
    &:focus {
      border-width: $border-width-regular;
    }
  }

  // Primary

  &--primary {
    border-color: $color-primary-regular;
    color: $color-primary-regular;
  }
}
