// LIST
// Present related items in a continuous format.
// -----------------------------------------------------------------------------

.c-list {
  padding-left: 0;
  list-style: none;
}

.c-list__item {
  padding-top: $space-small-5;
  padding-bottom: $space-small-5;
}

.c-list__link {
  color: $color-gray-regular;

  &:hover {
    color: $color-primary-regular;
  }
}

// Horizontal list

.c-list--horizontal {
  display: flex;
  flex-wrap: wrap;

  > .c-list__item {
    &:not(:last-child) {
      margin-right: $space-large-4;
    }
  }
}
