// NAV
// Display major navigation links or key actions.
// -----------------------------------------------------------------------------

.c-nav {
  display: flex;
  margin-bottom: 0;

  &__link {
    display: block;
    padding: $space-small-2 $space-regular;
    color: $color-gray-regular;

    &:hover,
    &:focus,
    &.is-selected {
      color: $color-primary-regular;
    }
  }

  // Vertical

  &--vertical {
    flex-direction: column;

    .c-nav__link {
      padding: $space-small-4 $space-small-2;
    }
  }
}
