// NOTICE
// Provide feedback or additional information.
// -----------------------------------------------------------------------------

.c-notice {
  padding: $space-regular $space-large-4;
  border-radius: $border-radius-regular;
  color: $color-gray-regular;
  background-color: $color-gray-light-1;

  // Remove last paragraph bottom margin using the `:last-of-type` selector
  // instead of `:last-child` because dismissible notices place the dismiss
  // button last.
  p:last-of-type {
    margin-bottom: 0;
  }

  // Dismissible

  &--dismissible {
    position: relative;
    padding-right: $space-large-2;
  }

  &__dismiss-button {
    position: absolute;
    top: $space-regular;
    right: $space-regular;
    padding: $space-small-5;
    border: 0;
    border-radius: $border-radius-regular;
    color: inherit;
    background-color: transparent;

    &:hover {
      background-color: $color-gray-light-2;
    }

    &:focus {
      // Mind that the outline should be removed only if other styles that imply
      // focus are set.
      outline: 0;
      background-color: $color-gray-light-3;
    }

    &:active {
      background-color: $color-gray-light-4;
    }
  }

  &__dismiss-icon {
    display: block;
    // Inherit text color on `svg` elements.
    fill: currentColor;
  }

  // Primary

  &--primary {
    color: $color-primary-regular;
    background-color: $color-primary-light-1;

    .c-notice__dismiss-button {
      &:hover {
        background-color: $color-primary-light-2;
      }

      &:focus {
        background-color: $color-primary-light-3;
      }

      &:active {
        background-color: $color-primary-light-4;
      }
    }
  }

  // Negative

  &--negative {
    color: $color-negative-regular;
    background-color: $color-negative-light-1;

    .c-notice__dismiss-button {
      &:hover {
        background-color: $color-negative-light-2;
      }

      &:focus {
        background-color: $color-negative-light-3;
      }

      &:active {
        background-color: $color-negative-light-4;
      }
    }
  }
}
