// RADIO
// Select one option from a predefined set.
// -----------------------------------------------------------------------------

.c-radio {
  width: 1.25rem;
  height: 1.25rem;
  border: $border-width-regular solid $color-gray-medium;
  border-radius: $border-radius-full;
  vertical-align: middle;
  background-color: $color-white-regular;
  // Allow complete styling in all browsers.
  -webkit-appearance: none;

  &:focus {
    border-color: $color-primary-regular;
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: $box-shadow-regular $color-primary-light-4;
  }

  &:checked {
    border-color: $color-primary-regular;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'><path d='M6 2C3.78667 2 2 3.78667 2 6C2 8.21333 3.78667 10 6 10C8.21333 10 10 8.21333 10 6C10 3.78667 8.21333 2 6 2Z' fill='%23fff'/></svg>");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-primary-regular;
  }

  &:disabled {
    border-color: $color-gray-light-4;
  }

  // Label
  // Mind that labels are separate support elements, not descendants.

  &-label {
    padding-right: $space-small-6;
    padding-left: $space-small-6;

    &.is-disabled {
      color: $color-gray-medium;
      cursor: not-allowed;
    }
  }
}
