// TABSET
// Navigate between related sections of content.
// -----------------------------------------------------------------------------

.c-tabset {
  color: $color-gray-regular;
  background-color: $color-white-regular;

  &__menu {
    display: flex;
    padding-left: 0;
    border-bottom: $border-width-regular solid $color-gray-light-3;
    margin-bottom: 0;
    list-style: none;
  }

  &__tab {
    display: inline-block;
    padding: $space-small-3 $space-regular
      calc(#{$space-small-3} - #{$border-width-thick-2}) $space-regular;
    border-bottom: $border-width-thick-2 solid transparent;
    // Negate parent bottom border.
    margin-bottom: -#{$border-width-regular};
    color: $color-gray-regular;

    &:hover,
    &:focus {
      border-color: $color-gray-light-3;
    }

    &.is-selected {
      border-color: $color-primary-regular;
      color: $color-primary-regular;
    }
  }

  &__panel {
    padding-top: $space-regular;
    padding-bottom: $space-regular;
  }
}
