// TAG
// Label items and reference content using keywords.
// -----------------------------------------------------------------------------

.c-tag {
  display: inline-block;
  padding: $space-small-7 $space-small-3;
  border-radius: $border-radius-full;
  color: $color-gray-regular;
  background-color: $color-gray-light-3;

  // Interactive

  &--interactive {
    &:hover {
      background-color: $color-gray-light-4;
    }

    &:focus {
      background-color: $color-gray-light-5;
      // Mind that the outline should be removed only if other styles that imply
      // focus are set.
      outline: 0;
    }

    &:active {
      background-color: $color-gray-light-6;
    }
  }

  // Small

  &--small {
    padding: $space-small-6 $space-small-4;
    font-size: $font-size-small-1;
    line-height: 1;
    vertical-align: top;
  }
}
