// TAG
// Label items and reference content using keywords.
// -----------------------------------------------------------------------------

.c-tag {
  display: inline-block;
  padding: $space-small-4 $space-small-1;
  border-radius: $border-radius-full;
  color: $color-gray-regular;
  background-color: $color-gray-light-2;
}

.c-tag__dismiss {
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: calc(#{$space-small-4} - #{$border-width-regular});
  border: $border-width-regular solid $color-gray-regular;
  border-radius: $border-radius-full;
  margin-left: $space-small-5;
  background-color: transparent;

  &:hover {
    color: $color-white-regular;
    background-color: $color-gray-dark-1;
  }

  &:focus {
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
    box-shadow: $box-shadow-regular $color-gray-light-4;
  }

  &:active {
    color: $color-white-regular;
    background-color: $color-gray-dark-2;
  }
}

.c-tag__dismiss-icon {
  display: block;
  // Inherit text color on `svg` elements.
  fill: currentColor;
}

// Interactive tag

.c-tag--interactive {
  &:hover {
    background-color: $color-gray-light-3;
  }

  &:focus {
    background-color: $color-gray-light-4;
    // Mind that the outline should be removed only if other styles that imply
    // focus are set.
    outline: 0;
  }

  &:active {
    background-color: $color-gray-light-5;
  }
}
