// COMMON
// Set shared styles.
// -----------------------------------------------------------------------------

// Global

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Root

html {
  font-size: $root-font-size;
  // Prevent text size adjustment on device orientation change in Chrome and
  // Safari on iOS.
  -webkit-text-size-adjust: 100%;
}

// Body

body {
  margin: 0;
  font-family: $font-family-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  color: $color-neutral-regular;
  background-color: $color-white-regular;
}
