// COMMON
// Set shared styles.
// -----------------------------------------------------------------------------

// Universal

// Make setting item dimensions easier and more intuitive by changing the box
// model on all elements and pseudo-elements.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Body

body {
  margin: 0;
  font-family: $font-family-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  color: $color-gray-regular;
  background-color: $color-white-regular;
  // Prevent text size adjustment on device orientation change in Chrome and
  // Safari on iOS.
  -webkit-text-size-adjust: 100%;
}
