// EMBEDDING
// Set default styles for embedding elements.
// -----------------------------------------------------------------------------

// Audio, canvas, iframe, image, and video

audio,
canvas,
iframe,
img,
video {
  // Switch display style to cover most common use cases and remove the extra
  // space below.
  display: block;
}

img,
video {
  // Prevent overflow when parent width is exceeded.
  max-width: 100%;
  // Prevent stretching when an incorrect height attribute is set.
  height: auto;
}
