// FORM
// Set default styles for form elements.
// -----------------------------------------------------------------------------

// Fieldset

fieldset {
  // Ensure sizing behavior identical to that of block elements.
  min-width: 0;
  padding: 0;
  border: 0;
  margin-right: 0;
  margin-bottom: $space-regular;
  margin-left: 0;
}

legend {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: $space-small-a;
  font-weight: bold;
}

// Label

label {
  display: inline-block;
  cursor: pointer;
}

// Button, input, textarea, and select

button,
input,
textarea,
select {
  // Remove margins from all selected elements in Safari, from `checkbox` and
  // `radio` inputs in all browsers, and from `textarea` elements in Firefox.
  margin: 0;
  // Normalize font family, font size, and line height.
  font-family: inherit;
  font-size: inherit;
  // Mind that line height cannot be changed on `select` elements.
  line-height: inherit;

  &:disabled {
    opacity: $opacity-medium;
    cursor: default;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  // Allow complete styling in Chrome and Safari on iOS.
  -webkit-appearance: button;

  // Remove inner border on focus in Firefox.
  &::-moz-focus-inner {
    border: 0;
  }
}

button,
select {
  // Remove text transform inheritance in Firefox.
  text-transform: none;
}

::-webkit-file-upload-button {
  // Normalize font family, font size, and line height.
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  // Allow complete styling in Chrome and Safari on iOS.
  -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
  cursor: pointer;
}

[type="search"] {
  // Correct outline offset in Safari.
  outline-offset: -2px;
  // Allow complete styling in Chrome and Safari on iOS.
  -webkit-appearance: none;

  // Remove extra inner space in Safari.
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

textarea {
  resize: vertical;
}

// Progress

progress {
  // Normalize vertical alignment in Chrome and Firefox.
  vertical-align: baseline;
}
