// GROUPING
// Set default styles for grouping elements.
// -----------------------------------------------------------------------------

// Unordered, ordered, and definition list

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: $space-regular;
}

ul,
ol {
  padding-left: $space-large-4;
}

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0;
  }

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

// Table

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $space-large-4;
}

  th,
  td {
    padding: $space-small-1 $space-regular;
    border-bottom: $border-width-regular solid $color-neutral-light-1;
    vertical-align: top;
  }

  th {
    text-align: left;
  }

  thead th {
    border-color: $color-neutral-light-2;
    vertical-align: bottom;
  }

  caption {
    caption-side: bottom;
    padding-top: $space-small-1;
    padding-bottom: $space-small-1;
    text-align: left;
  }

// Figure

figure {
  margin: 0 0 $space-regular;
}

// Details

details {
  // Set the correct display style in Edge.
  display: block;
}

  summary {
    // Set the correct display style in Chrome, Safari, and Edge.
    display: list-item;
    cursor: pointer;
  }

// Thematic break

hr {
  // Normalize the overflow in Chrome and Edge.
  overflow: visible;
  // Mimic a horizontal rule while allowing other decorations to be used.
  height: $border-width-thick;
  border: 0;
  margin-top: $space-large-2;
  margin-bottom: $space-large-2;
  background-color: $color-neutral-light-2;
}