// GROUPING
// Set default styles for grouping elements.
// -----------------------------------------------------------------------------

// Unordered, ordered, and definition list

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: var(--space-regular);
}

ul,
ol {
  padding-left: var(--space-large-4);

  ul,
  ol {
    margin-bottom: 0;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

// Table

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--space-large-4);
}

th,
td {
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding: var(--space-small-1) var(--space-regular)
    calc(#{var(--space-small-1)} - #{var(--border-width-regular)});
  border-bottom: var(--border-width-regular) solid var(--color-gray-light-3);
  vertical-align: top;
}

th {
  text-align: left;

  thead & {
    vertical-align: bottom;
  }
}

caption {
  padding-top: var(--space-small-1);
  // Employ `calc()` to ensure precise alignment with items that use the same
  // spacing values but lack a border.
  padding-bottom: calc(
    #{var(--space-small-1)} - #{var(--border-width-thick-2)}
  );
  border-bottom: var(--border-width-thick-2) solid var(--color-gray-light-3);
  font-size: var(--font-size-regular);
  font-weight: bold;
  text-align: left;
}

// Figure

figure {
  margin: 0 0 var(--space-regular);
}

// Summary

summary {
  // Correct display style in Chrome and Safari.
  display: list-item;
  cursor: pointer;
}

// Thematic break

hr {
  // Normalize overflow in Chrome.
  overflow: visible;
  border-top: var(--border-width-thick-1) solid var(--color-gray-light-3);
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  margin-top: var(--space-large-2);
  margin-bottom: var(--space-large-2);
}
