// GROUPING
// Set default styles for grouping elements.
// -----------------------------------------------------------------------------

// Unordered, ordered, and definition list

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: $space-regular;
}

ul,
ol {
  padding-left: $space-large-4;
}

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0;
  }

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

// Table

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $space-large-4;
}

  th,
  td {
    // Employ `calc()` to ensure precise alignment with items that use the same
    // spacing values but lack a border.
    padding: $space-small-1 $space-regular calc(#{$space-small-1} - #{$border-width-regular});
    border-bottom: $border-width-regular solid $color-gray-light-3;
    vertical-align: top;
  }

  th {
    text-align: left;
  }

  thead th {
    vertical-align: bottom;
  }

  caption {
    padding-top: $space-small-1;
    // Employ `calc()` to ensure precise alignment with items that use the same
    // spacing values but lack a border.
    padding-bottom: calc(#{$space-small-1} - #{$border-width-thick-2});
    border-bottom: $border-width-thick-2 solid $color-gray-light-3;
    font-size: $font-size-large-5;
    font-weight: bold;
    text-align: left;
  }

// Figure

figure {
  margin: 0 0 $space-regular;
}

// Summary

summary {
  // Correct display style in Chrome and Safari.
  display: list-item;
  cursor: pointer;
}

// Thematic break

hr {
  // Normalize overflow in Chrome.
  overflow: visible;
  // Mimic a horizontal rule while allowing other decorations to be used.
  height: $border-width-thick-1;
  border: 0;
  margin-top: $space-large-2;
  margin-bottom: $space-large-2;
  background-color: $color-gray-light-3;
}
