// LINKING
// Set default styles for linking elements.
// -----------------------------------------------------------------------------

// Anchor

// Mind that the anchor element should have a simple default look because it is
// an integral part of various components that require different bespoke styles.
// When part of running text, anchors should employ an underline or some other
// visual cue, but can be unembellished otherwise.
a {
  text-decoration: none;
  color: $color-primary-regular;
  // Remove tap highlight.
  -webkit-tap-highlight-color: transparent;
}
