// TEXT
// Set default styles for text elements.
// -----------------------------------------------------------------------------

// Heading

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  margin-bottom: $space-large-3;
  font-size: $font-size-large-1;
  line-height: $line-height-small-3;
}

h2 {
  margin-bottom: $space-regular;
  font-size: $font-size-large-2;
  line-height: $line-height-small-2;
}

h3 {
  margin-bottom: $space-small-3;
  font-size: $font-size-large-3;
  line-height: $line-height-small-1;
}

h4 {
  margin-bottom: $space-small-5;
  font-size: $font-size-large-4;
  line-height: $line-height-small-1;
}

h5 {
  margin-bottom: $space-small-5;
  font-size: $font-size-large-5;
  line-height: $line-height-small-1;
}

h6 {
  margin-bottom: 0;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
}

// Paragraph

p {
  margin-top: 0;
  margin-bottom: $space-regular;
}

// Blockquote

blockquote {
  margin: 0 0 $space-large-4;
  font-size: $font-size-large-4;
  line-height: $line-height-small-1;

  p {
    margin-bottom: $space-small-3;
  }

  footer {
    font-size: $font-size-regular;
    line-height: $line-height-regular;
  }
}

// Preformatted text

pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: $space-regular;
  font-family: $font-family-mono;
}

// Address

address {
  margin-bottom: $space-regular;
  font-style: normal;
}

// Abbreviation

abbr[title] {
  cursor: help;
}

// Bold and strong

b,
strong {
  // Normalize font weight in Chrome and Safari.
  font-weight: bolder;
}

// Code, user input, and sample output

code,
kbd,
samp {
  font-family: $font-family-mono;
}

code,
kbd {
  padding: 0.125em 0.25em;
  border-radius: $border-radius-regular;
  font-size: 0.875em;
}

code {
  background-color: $color-gray-light-2;
}

kbd {
  color: $color-white-regular;
  background-color: $color-gray-regular;

  kbd {
    // Remove unwanted custom styles from nested user input elements.
    padding: 0;
    font-size: 1em;
  }
}

// Mark

mark {
  padding: 0.125em 0.25em;
  border-radius: $border-radius-regular;
  color: $color-gray-regular;
  background-color: $color-highlight-regular;
}

// Small

small {
  font-size: 0.875em;
}

// Subscript and superscript

sub,
sup {
  position: relative;
  font-size: 0.75em;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
