// GROUPING
// Set default styles for grouping elements.
// -----------------------------------------------------------------------------

// Unordered, ordered, and definition list

ul,
ol,
dl {
  margin-top: 0;
}

ul,
ol {
  padding-left: 3ch;
}

dd {
  margin-left: 0;
}

// Table

table {
  border-collapse: collapse;
}

// Figure

figure {
  margin: 0 0 $space-regular;
}

// Summary

summary {
  // Correct display style in Chrome and Safari.
  display: list-item;
  cursor: pointer;
}

// Thematic break

hr {
  // Normalize overflow in Chrome.
  overflow: visible;
  border: 0;
  margin-top: $space-large-2;
  margin-bottom: $space-large-2;
  // Emulate default horizontal rule while allowing other decorations to be
  // easily defined.
  height: $border-width-thick-1;
  background-color: $color-gray-light-3;
}
