// RESET
// Remove unnecessary defaults and fix browser inconsistencies.
// -----------------------------------------------------------------------------

// Body

body {
  margin: 0;
  // Prevent text size adjustment on device orientation change in Chrome and
  // Safari on iOS.
  -webkit-text-size-adjust: 100%;
}

// Heading

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  // Normalize font size and bottom margin when inside sectioning elements.
  margin-bottom: 0.67em;
  font-size: 2em;
}

// Blockquote

blockquote {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

// Definition, ordered, and unordered list

dl,
ol,
ul {
  margin-top: 0;
}

dd {
  margin-left: 0;
}

// Figure

figure {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

// Thematic break

hr {
  // Normalize overflow in Chrome.
  overflow: visible;
}

// Paragraph

p {
  margin-top: 0;
}

// Preformatted text

pre {
  overflow: auto;
  margin-top: 0;
}

// Anchor

a {
  // Remove tap highlight.
  -webkit-tap-highlight-color: transparent;
}

// Bold and strong

b,
strong {
  // Normalize font weight in Chrome and Safari.
  font-weight: bolder;
}

// Code, user input, and sample output

code,
kbd {
  font-size: 0.875em;
}

kbd {
  kbd {
    // Remove unwanted custom styles from nested user input elements.
    font-size: 1em;
  }
}

// Small

small {
  font-size: 0.875em;
}

// Subscript and superscript

sub,
sup {
  position: relative;
  font-size: 0.75em;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Table

table {
  border-collapse: collapse;
}

// Button, input, select, and textarea

button,
input,
select,
textarea {
  // Remove margins from all selected elements in Safari, from `checkbox` and
  // `radio` inputs in all browsers, and from `textarea` elements in Firefox.
  margin: 0;
  // Normalize font family, font size, and line height.
  font-family: inherit;
  font-size: inherit;
  // Mind that line height cannot be changed on `select` elements.
  line-height: inherit;
  // Remove tap highlight.
  -webkit-tap-highlight-color: transparent;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  // Allow complete styling in Chrome and Safari on iOS.
  -webkit-appearance: button;

  // Remove inner border on focus in Firefox.
  &::-moz-focus-inner {
    border: 0;
  }
}

button,
select {
  // Remove text transform inheritance in Firefox.
  text-transform: none;
}

::-webkit-file-upload-button {
  // Normalize font family, font size, and line height.
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  // Allow complete styling in Chrome and Safari on iOS.
  -webkit-appearance: button;
}

[type="search"] {
  // Correct outline offset in Safari.
  outline-offset: -2px;
  // Allow complete styling in Chrome and Safari on iOS.
  -webkit-appearance: none;

  // Remove extra inner space in Safari.
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

// Fieldset

fieldset {
  // Ensure sizing behavior identical to that of block elements.
  min-width: 0;
  padding: 0;
  border: 0;
  margin-right: 0;
  margin-left: 0;
}

legend {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

// Progress

progress {
  // Normalize vertical alignment in Chrome and Firefox.
  vertical-align: baseline;
}

// Summary

summary {
  // Correct display style in Chrome and Safari.
  display: list-item;
}
