// TEXT
// Set default styles for text elements.
// -----------------------------------------------------------------------------

// Heading

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  // Normalize font size and bottom margin when inside sectioning elements.
  margin-bottom: 0.67em;
  font-size: 2em;
}

// Paragraph

p {
  margin-top: 0;
}

// Blockquote

blockquote {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

// Preformatted text

pre {
  overflow: auto;
  margin-top: 0;
  font-family: $font-family-mono;
}

// Address

address {
  font-style: normal;
}

// Abbreviation

abbr[title] {
  cursor: help;
}

// Bold and strong

b,
strong {
  // Normalize font weight in Chrome and Safari.
  font-weight: bolder;
}

// Code, user input, and sample output

code,
kbd,
samp {
  font-family: $font-family-mono;
}

code,
kbd {
  font-size: 0.875em;
}

kbd {
  kbd {
    // Remove unwanted custom styles from nested user input elements.
    font-size: 1em;
  }
}

// Small

small {
  font-size: 0.875em;
}

// Subscript and superscript

sub,
sup {
  position: relative;
  font-size: 0.75em;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
