// CONTAINER
// Lay out high-level content units.
// -----------------------------------------------------------------------------

.o-container {
  max-width: var(--content-max-width);
  padding-right: var(--space-large-5);
  padding-left: var(--space-large-5);
  margin-right: auto;
  margin-left: auto;

  @include media(m) {
    // Increase padding to distance content from screen edges.
    padding-right: calc(var(--space-large-5) * 2);
    padding-left: calc(var(--space-large-5) * 2);
  }
}
