// SEGMENT
// Separate content units.
// -----------------------------------------------------------------------------

.o-segment {
  padding-top: var(--space-large-2);
  padding-bottom: var(--space-large-2);

  @include media(m) {
    padding-top: var(--space-large-1);
    padding-bottom: var(--space-large-1);
  }
}
