// SEGMENT
// Separate content units.
// -----------------------------------------------------------------------------

.o-segment {
  padding-top: $space-large-b;
  padding-bottom: $space-large-b;

  @include media(m) {
    padding-top: $space-large-a;
    padding-bottom: $space-large-a;
  }
}
