// CONTAINER
// Lay out high-level content units.
// -----------------------------------------------------------------------------

.o-container {
  max-width: $content-max-width;
  padding-right: $space-large-5;
  padding-left: $space-large-5;
  margin-right: auto;
  margin-left: auto;

  @include query(m) {
    // Increase padding to distance content from screen edges.
    padding-right: $space-large-5 * 2;
    padding-left: $space-large-5 * 2;
  }
}
