// GRID
// Arrange and size items using a two-dimensional layout system.
// -----------------------------------------------------------------------------

.o-grid {
  display: grid;

  @include media(m) {
    grid-template-columns: repeat($grid-columns, 1fr);
  }
}

@for $i from 1 through $grid-columns {
  .o-grid__column-#{$i} {
    grid-column: span #{$i};
  }

  $query-names: map-keys($viewport-widths);
  @each $query-name in $query-names {
    @include media($query-name) {
      .o-grid__column-#{$i}\@#{$query-name} {
        grid-column: span #{$i};
      }
    }
  }
}

// Spaced grid

.o-grid--spaced {
  grid-gap: $grid-gap-regular;

  @include media(m) {
    grid-gap: $grid-gap-large;
  }
}
