// GRID
// Arrange and size items using a two-dimensional layout system.
// -----------------------------------------------------------------------------

.o-grid {
  display: grid;
  grid-template-columns: repeat($grid-columns-regular, 1fr);

  @include breakpoint(m) {
    grid-template-columns: repeat($grid-columns-medium, 1fr);
  }

  @include breakpoint(l) {
    grid-template-columns: repeat($grid-columns-large, 1fr);
  }

  @for $i from 1 through $grid-columns-regular {
    &__column-#{$i} {
      grid-column: span #{$i};
    }
  }

  @include breakpoint(m) {
    @for $i from 1 through $grid-columns-medium {
      &__column-#{$i}\@m {
        grid-column: span #{$i};
      }
    }
  }

  @include breakpoint(l) {
    @for $i from 1 through $grid-columns-large {
      &__column-#{$i}\@l {
        grid-column: span #{$i};
      }
    }
  }

  // Spaced grid

  &--spaced {
    grid-gap: $grid-gap-regular;

    @include breakpoint(m) {
      grid-gap: $grid-gap-medium;
    }
  }
}
