// GRID
// Arrange and size items using a two-dimensional layout system.
// -----------------------------------------------------------------------------

.o-grid {
  display: grid;

  @include breakpoint(m) {
    grid-template-columns: repeat($grid-columns, 1fr);
  }

  @for $i from 1 through $grid-columns {
    &__column-#{$i} {
      grid-column: span #{$i};
    }

    $breakpoint-names: map-keys($breakpoints);
    @each $breakpoint-name in $breakpoint-names {
      @include breakpoint($breakpoint-name) {
        &__column-#{$i}\@#{$breakpoint-name} {
          grid-column: span #{$i};
        }
      }
    }
  }

  // Spaced grid

  &--spaced {
    grid-gap: $grid-gap-regular;

    @include breakpoint(m) {
      grid-gap: $grid-gap-large;
    }
  }
}
