// LINEUP
// Arrange and size items in a flexible manner. Use this pattern alongside
// suitable utility classes to structure content.
// -----------------------------------------------------------------------------

.o-lineup {
  display: flex;
  flex-wrap: wrap;
}

.o-lineup__item {
  width: 100%;

  @include breakpoint(m) {
    // Cause item to take up the specified proportion of available space. It
    // will be equal to other items on the same line that are styled this way.
    flex: 1;
  }
}

// Spaced lineup

.o-lineup--spaced {
  // Negate padding on the leftmost and rightmost lineup items.
  margin-right: -$space-large-5;
  margin-left: -$space-large-5;

  > .o-lineup__item {
    padding-right: $space-large-5;
    padding-left: $space-large-5;
  }
}
