// SEGMENT
// Separate content units.
// -----------------------------------------------------------------------------

.segment {
  padding-top: $space-large-2;
  padding-bottom: $space-large-2;

  @include breakpoint(tablet) {
    padding-top: $space-large-1;
    padding-bottom: $space-large-1;
  }
}
