// GRID
// Generate bespoke grids.
// -----------------------------------------------------------------------------

@mixin grid($definition) {
  display: grid;

  @each $breakpoint-name, $column-count, $gap-size in $definition {
    @include breakpoint($breakpoint-name) {
      $breakpoint-suffix: if(
        $breakpoint-name != "default",
        \@#{$breakpoint-name},
        null
      );

      grid-template-columns: repeat($column-count, 1fr);
      grid-gap: $gap-size;

      @for $i from 1 through $column-count {
        &__column-#{$i}#{$breakpoint-suffix} {
          grid-column: span #{$i};
        }
      }
    }
  }
}
