// GRID
// Arrange and size items using a two-dimensional layout system.
// -----------------------------------------------------------------------------

@mixin grid($grid) {
  .o-grid {
    display: grid;

    @each $entry in $grid {
      $key: nth($entry, 1);
      $key-value: nth($entry, 2);
      $grid-columns: nth($key-value, 1);
      $grid-gap: nth($key-value, 2);

      @if ($key == "all") {
        grid-template-columns: repeat($grid-columns, 1fr);
        grid-gap: $grid-gap;

        @for $i from 1 through $grid-columns {
          &__column-#{$i} {
            grid-column: span #{$i};
          }
        }
      } @else {
        @include breakpoint($key) {
          grid-template-columns: repeat($grid-columns, 1fr);
          grid-gap: $grid-gap;

          @for $i from 1 through $grid-columns {
            &__column-#{$i}\@#{$key} {
              grid-column: span #{$i};
            }
          }
        }
      }
    }
  }
}
