// GRID
// Generate bespoke grids.
// -----------------------------------------------------------------------------

// Use as argument a grid definition established via layout settings.
@mixin grid($definition) {
  display: grid;

  @each $breakpoint-name, $column-count, $gap-size in $definition {
    // Generate grid properties only if the column count and gap size have valid
    // values.
    @if (
      type-of($column-count) == number and
      unitless($column-count) == true and
      type-of($gap-size) == number and
      unitless($gap-size) == false
    ) {
      @include breakpoint($breakpoint-name) {
        // Provide a breakpoint suffix only if the argument is a breakpoint name
        // established via viewport settings.
        $breakpoint-suffix: if(
          $breakpoint-name != "default",
          \@#{$breakpoint-name},
          null
        );

        grid-template-columns: repeat($column-count, 1fr);
        grid-gap: $gap-size;
      }
    } @else {
      @error "Invalid number of columns or gap size. Check spelling or review layout settings.";
    }
  }
}

@mixin grid-columns($definition) {
  @each $breakpoint-name, $column-count, $gap-size in $definition {
    @include breakpoint($breakpoint-name) {
      // Provide a breakpoint suffix only if the argument is a breakpoint name
      // established via viewport settings.
      $breakpoint-suffix: if(
        $breakpoint-name != "default",
        \@#{$breakpoint-name},
        null
      );
      @for $i from 1 through $column-count {
        .grid__column-#{$i}#{$breakpoint-suffix} {
          grid-column: span #{$i};
        }
      }
    }
  }
}