// GLOBAL HEADER
// House introductory content.
// -----------------------------------------------------------------------------

.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $space-small-2;
  padding-bottom: $space-small-2;

  &__logo {
    font-size: $font-size-large-4;
    line-height: 1;
    font-weight: $font-weight-bold;
    color: $color-primary-regular;
  }

  &__navigation {
    display: flex;
    margin-bottom: 0;
  }

  &__navigation-item {
    &:not(:last-child) {
      margin-right: $space-large-4;
    }
  }

  &__navigation-link {
    display: inline-block;
    padding-top: $space-small-2;
    padding-bottom: $space-small-2;
    color: $color-gray-regular;

    &:hover,
    &:focus,
    &.selected {
      color: $color-primary-regular;
    }
  }
}
