// GLOBAL HEADER
// House introductory content.
// -----------------------------------------------------------------------------

.global-header {
  display: flex;
  justify-content: space-between;
  padding-top: $space-small-2;
  padding-bottom: $space-small-2;

  &__logo {
    font-size: $font-size-large-4;
    line-height: 1;
    font-weight: $font-weight-bold;
    color: $color-primary-regular;
  }
}
