// GLOBAL HEADER
// House essential brand information and navigation.
// -----------------------------------------------------------------------------

.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $space-small-2;
  padding-bottom: $space-small-2;

  &__brand {
    font-size: $font-size-large-4;
    font-weight: $font-weight-bold;
    color: $color-primary-regular;

    &:focus {
      border-radius: $border-radius-regular;
      // Mind that the outline should be removed only if other styles that imply
      // focus are set.
      outline: 0;
      background-color: $color-primary-light-1;
      box-shadow: 0 0 0 1px $color-white-regular,
                  0 0 0 3px $color-primary-regular;
    }
  }

  &__navigation {
    display: flex;
    margin-bottom: 0;
  }

  &__navigation-item {
    &:not(:last-child) {
      margin-right: $space-large-4;
    }
  }

  &__navigation-link {
    display: inline-block;
    padding-top: $space-small-2;
    padding-bottom: $space-small-2;
    color: $color-gray-regular;

    &:hover,
    &:focus,
    &.selected {
      color: $color-primary-regular;
    }

    &:focus {
      border-radius: $border-radius-regular;
      // Mind that the outline should be removed only if other styles that imply
      // focus are set.
      outline: 0;
      background-color: $color-primary-light-1;
      box-shadow: 0 0 0 1px $color-white-regular,
                  0 0 0 3px $color-primary-regular;
    }
  }
}
