// MAIN HEADER
// House introductory content.
// -----------------------------------------------------------------------------

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: $space-small-2;
  padding-bottom: $space-small-2;

  &__logo {
    font-size: $font-size-large-4;
    line-height: 1;
    font-weight: $font-weight-bold;
    color: $color-primary-regular;
  }

  @include breakpoint(tablet) {
    flex-direction: row;
  }
}
