// ALIGNMENT
// Establish flex and grid alignment traits.
// -----------------------------------------------------------------------------

.u-align-items-flex-start {
  align-items: flex-start !important;
}

.u-align-items-center {
  align-items: center !important;
}

.u-align-self-flex-start {
  align-self: flex-start !important;
}

.u-align-self-center {
  align-self: center !important;
}

.u-justify-content-space-between {
  justify-content: space-between !important;
}

.u-justify-content-center {
  justify-content: center !important;
}
