// BORDER
// Establish border-specific traits.
// -----------------------------------------------------------------------------

$border-radius-values: (
  regular: $border-radius-regular,
  full: $border-radius-full
);

@include utility(border-radius, $border-radius-values);
