// BORDER
// Establish border-specific traits.
// -----------------------------------------------------------------------------

$border-radius-values: (
  regular: $border-radius-regular,
  round: $border-radius-round
);

@include utility(border-radius, $border-radius-values);
