// MARGIN
// Designate available margins.
// -----------------------------------------------------------------------------

$margin-right-values: (
  all: (
    regular: $space-regular
  )
);
$margin-bottom-values: (
  small-1: $space-small-a,
  small-2: $space-small-b,
  small-3: $space-small-c,
  small-4: $space-small-d,
  small-5: $space-small-e,
  all: (
    regular: $space-regular,
    large-1: $space-large-a,
    large-2: $space-large-b,
    large-3: $space-large-c,
    large-4: $space-large-d,
    large-5: $space-large-e,
    none: 0
  )
);

@include utility(margin-right, $margin-right-values);
@include utility(margin-bottom, $margin-bottom-values);
