// MARGIN
// Designate available margins.
// -----------------------------------------------------------------------------

$margin-right-values: (
  all: (
    regular: var(--space-regular)
  )
);
$margin-bottom-values: (
  small-1: var(--space-small-1),
  small-2: var(--space-small-2),
  small-3: var(--space-small-3),
  small-4: var(--space-small-4),
  small-5: var(--space-small-5),
  all: (
    regular: var(--space-regular),
    large-1: var(--space-large-1),
    large-2: var(--space-large-2),
    large-3: var(--space-large-3),
    large-4: var(--space-large-4),
    large-5: var(--space-large-5),
    none: 0
  )
);

@include utility(margin-right, $margin-right-values);
@include utility(margin-bottom, $margin-bottom-values);
