// MARGIN
// Designate available margins.
// -----------------------------------------------------------------------------

.u-margin-right-regular {
  margin-right: 1rem !important;
}

@media screen and (min-width: 720px) {
  .u-margin-right-regular\@medium {
    margin-right: 1rem !important;
  }
}

.u-margin-bottom-regular {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-large-1 {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-large-2 {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 720px) {
  .u-margin-bottom-regular\@medium {
    margin-bottom: 1rem !important;
  }

  .u-margin-bottom-large-1\@medium {
    margin-bottom: 4rem !important;
  }

  .u-margin-bottom-none\@medium {
    margin-bottom: 0 !important;
  }
}
