// MARGIN
// Designate available margins.
// -----------------------------------------------------------------------------

.u-margin-right-regular {
  margin-right: $space-regular !important;
}

@media screen and (min-width: 720px) {
  .u-margin-right-regular\@medium {
    margin-right: $space-regular !important;
  }
}

.u-margin-bottom-regular {
  margin-bottom: $space-regular !important;
}

.u-margin-bottom-large-1 {
  margin-bottom: $space-large-1 !important;
}

.u-margin-bottom-large-2 {
  margin-bottom: $space-large-2 !important;
}

.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 720px) {
  .u-margin-bottom-regular\@medium {
    margin-bottom: $space-regular !important;
  }

  .u-margin-bottom-large-1\@medium {
    margin-bottom: $space-large-1 !important;
  }

  .u-margin-bottom-none\@medium {
    margin-bottom: 0 !important;
  }
}
