// UTILITY
// Generate single-declaration utility classes.
// -----------------------------------------------------------------------------

// Use as arguments a property name, a set of property values passed via a
// variable, and optionally a property alias. The latter defaults to the
// property name when omitted.
// Pass property values individually, as lists, or via simple maps to generate
// non-responsive utilities.
// Example:
// $margin-right-values: (
//   regular: 1rem
// );
// @include utility(margin-right, $margin-right-values);
// will output:
// .u-margin-right-regular {
//   margin-right: 1rem !important;
// }
// Pass property values via nested maps associated with keywords to generate
// non-responsive and responsive utilities. Use a media query name established
// via platform settings to create utilities tied to a particular query or `all`
// to generate all possible non-responsive and responsive utilities.
// Example:
// $margin-right-values: (
//   regular: 1rem,
//   m: (
//     regular: 1rem
//   )
// );
// @include utility(margin-right, $margin-right-values);
// will output:
// .u-margin-right-regular {
//   margin-right: 1rem !important;
// }
// @media screen and (min-width: 720px) {
//   .u-margin-right-regular\@m {
//     margin-right: 1rem !important;
//   }
// }
@mixin utility($property, $values, $property-alias: $property) {
  @if (type-of($values) != map) {
    // Generate non-responsive utilities from single values or lists.
    @each $value in $values {
      .u-#{$property-alias}-#{$value} {
        #{$property}: $value !important;
      }
    }
  } @else {
    // Generate utilities from values passed via maps.
    @each $entry in $values {
      // Get a keyword that triggers the generation of a specific set of
      // utilities or a property value alias.
      $key: nth($entry, 1);
      // Get property values accompanied optionally by aliases.
      $key-values: nth($entry, 2);
      @if ($key == "all") {
        @if (type-of($key-values) == map) {
          // Generate non-responsive utilities designated using aliases for
          // property values (e.g., `.u-margin-right-regular`).
          @each $value-alias, $value in $key-values {
            .u-#{$property-alias}-#{$value-alias} {
              #{$property}: $value !important;
            }
          }
        } @else {
          // Generate non-responsive utilities designated using property values
          // (e.g., `.u-display-block`).
          @each $value in $key-values {
            .u-#{$property-alias}-#{$value} {
              #{$property}: $value !important;
            }
          }
        }
      }
      @if (map-has-key($queries, $key) or $key == "all") {
        // Get query names.
        $query-names: if(map-has-key($queries, $key), $key, map-keys($queries));
        @each $query-name in $query-names {
          @include media($query-name) {
            @if (type-of($key-values) == map) {
              // Generate responsive utilities designated using aliases for
              // property values (e.g., `.u-margin-right-regular@m`).
              @each $value-alias, $value in $key-values {
                .u-#{$property-alias}-#{$value-alias}\@#{$query-name} {
                  #{$property}: $value !important;
                }
              }
            } @else {
              // Generate responsive utilities designated using property values
              // (e.g., `.u-display-block@m`).
              @each $value in $key-values {
                .u-#{$property-alias}-#{$value}\@#{$query-name} {
                  #{$property}: $value !important;
                }
              }
            }
          }
        }
      }
      @if (map-has-key($queries, $key) == false and $key != "all") {
        $value-alias: $key;
        $value: $key-values;
        // Generate non-responsive utilities designated using aliases for
        // property values defined outside nested maps (e.g.,
        // `.u-margin-right-regular`).
        .u-#{$property-alias}-#{$value-alias} {
          #{$property}: $value !important;
        }
      }
    }
  }
}